
.btn-green {
  text-decoration: none;
  color: black;
  padding: 12px 32px;
  background-color: lightgrey;
  border-radius: 8px;
  font-weight: 500;
  margin: 8px;
}

.btn-green:hover {
  text-decoration: none;
  padding: 12px 32px;
  background-color: #5463FF;
  border-radius: 8px;
  color: white;
  transition: 0.5s;
  opacity: 0.8;
}