@import url(components/banner.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/cards.css);
@import url(components/container.css);
@import url(components/header.css);

h1, h2, a {
  font-family: 'Hubballi', cursive;
  font-weight: 500;
}


p {
  font-family: 'Hubballi', cursive;
}

body {
  margin: 0px;
}
